{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <title>{% block title %}Geoproject{% endblock %}</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Project</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-button ">
                <a class="nav-link" title="Map Page" href="#" onclick="mapPage();return false;">Map Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" title="Soil Layer Editing" href="#" onclick="soilLayerEditing();return false;">Soil Layer Editing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Footing Info" href="#" onclick="footingInfo();return false;">Footing Info</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" title="Excel File Upload" href="#" onclick="excelFileUpload();return false;">Excel File Upload</a>
            </li>
          </ul>
        </div>
      </nav>

      {% block content %}

      {% endblock %}
 
    <script src="{% static 'js/script.js' %}"></script> 
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>